
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 section">
            <p>
                Sarus Nature Society‘s campaign for conserving the Sarus Crane, an endangered species, not only includes identifying the various threats to the bird but also treating the injurded birds at times. The work of SNS is connected mostly in the 
      districts of Kheda, Ahmedabad, Anand, Surendranagar and Gandhinagar. The volunteers of SNS known as
      “SARUS MITRA” who collects the data including activities of sarus crane in rural areas with the help of locals and 
      educate them about sarus conservation through sarus education camps & shibirs throughout the year.   </p>
        </div>
        <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
            <p>
                Following Threats are identified by SNS Team during the observations.</p>
            <h4>Threats to Sarus Crane</h4>
          <p>- The major threat to the Sarus crane is habitat loss and degradation due to draining the wetland and conversion of land
            for agriculture. <br>
         - “Sim Talavdis” (Village Ponds) are  best habitats for sarus crane but destruction of sim talavdis also affect foraging and 
           nesting requirments of sarus crane.<br>
         - Some natural elements like dogs, foxes, jackals, feral pigs, snakes and also the floods seem to be harmful for eggs and
           chicks of Sarus Crane.<br>
         - Some farmers having rice(paddy) fields indulge in harmful activities such as scaring nesting Sarus pairs away,
           destroying Sarus nests and/or their eggs to save their paddy crop from getting damaged by nesting Sarus pairs.<br>
         - The extensive use of chemical fertilizers and Chemical pesticides are known to affect Sarus health directly or indirectly
           by affecting organisms constituting food chains of Sarus.<br>
         - Electrocution  and collision of flying sarus crane due to power transmission lines lead to death or severe injuries to 
           sarus crane<br>
         - Natural disasters like excessive rains, droughts etc. also affects the life cycle of sarus crane.
         
          </p>
         </div>
         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>Strategies for Sarus Crane Conservation</h4>
          <p>
            - People should be sensitized about cultural, literary, aesthetic and ecological significance. 
            <br>- Some farmers having rice(paddy) fields indulge in harmful activities such as scaring nesting Sarus pairs away,
              destroying Sarus nests and/or their eggs to save their paddy crop from getting damaged by nesting Sarus pairs.
              To minimize such activities, paddy farmers should be given monitory compensation for the paddy damaged by Sarus
              pairs. The farmers who allow Sarus nesting in their fields and who protect the nests, eggs and chicks should be publicly
              honoured so that more and more farmers would be encouraged to protect nesting Sarus pairs, Sarus nests and eggs.
              <br>- To sensitize rural people to conserve Sarus Crane, at the village level “Sarus Mitra” should be appointed by competent
              authority and with help of local Leaders, Sarpanchs, Gram Sevaks, Members of the Panchayat  “Sarus Mitra” should  be
              repeatedly educated about Sarus conservation through Sarus education and awerness camps.
              <br>  - Village ponds where nest are live should be declaired as sarus talavdi and wetlands where sarus crane is breeding should
              be protected  from  industrial pollution.
              <br> - Aware farmers about use of orgenic fartilizers and farmers and other people involved in Sarus conservation should be
              publicly honoured from time to time.
              <br> - Use of television, radio, social media, newspapers, pamphlets, books and periodic advertisements should be increased
              for providing information pertaining to the status of Sarus and for appealing people to get involved in noble work 
              of Sarus conservation.
              <br> - Build up village wise data base on population of sarus crane, breeding grounds, habitat utilization pattern for feeding
              and nesting etc. reported to the compentent authority time to time.
            
            
          </p>
         </div>
         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>
            Efforts of Sarus Nature Society for Conservation of Sarus Crane</h4>
          <p>
            Sarus Nature Society (SNS) is working for conservation of sarus crane since many years.  The volunteers of SNS known as “SARUS MITRA” who collects the data including activities of sarus crane in rural areas. During the breeding season of sarus crane i.e. from June to October months with the involvement  of Sarus Mitra and local farmers of villages the nest of Sarus Cranes monitored in various districts of Gujarat. Outside nesting activitiy right from nest building to egg laying and rearing of the chick, the behaviour of sarus crane observed and the data collected. The local school teachers, students, farmers also involved in these activities.</p>
          <p class="textIndent">  At the places where sometimes after nesting of sarus the water had dried up, water was transported from far away places and the area again flooded with water for the success of breeding by Sarus Nature Society with the help of local farmers and villagers. Villagers also quite motivated in this kind of activities and it had immense awerness value among the people. Teams comprising local farmers, Students and Teachers have been formed by Sarus Nature Society in many 
villages of ahmedabad and kheda districts  who not only collects all the information about sarus from the start of their nesting when the pair starts collecting the twigs in the paddy fields, to the egg laying and chick rearing, but they are also involved in the rescue oprations whenever the birds meet with any accidents etc. many birds have been thus rescued and given proper treatment by Sarus Nature Society.</p>
         </div>
     
        <div class="col-lg-12 col-md-12 col-12 section">
            <dl>
                <dt>         -10 KM ELECRICAL WIRES REPLACED BY COATED CONDUCTOR TO SAVE SARUS   </dt>
                        <dd>  Dadusar village in Dholka taluka declared as “Model Village” for Sarus Crane Conservation by Sarus Nature Society. 
             On representation by Mr. Deshal Pagi, President of Sarus Nature Society and Forest Department regarding causalities of Sarus due to electrocution, UGVCL's (Uttar Gujarat Vij Company Limited) top management visited site along with Forest Department officials and Mr. Deshal Pagi and decided to replace conventional wires by coated conductor to save the 
             precious Sarus bird. In all, a total of about 10 Km conductor is replaced with coated conductor at the cost of approximately Rs. 3.0 Lacs in Dadusar village,Dholka in the year 2009.
                        </dd>    
                        <dt>- MAN MADE NEST EXPERIMENT SUCCESSFUL</dt>
                            <dd>
                           <p class="textIndent">Over the period of time, shallow wetlands with marsh vegetation that are natural nesting places of Sarus, are fast 
             disappearing so the man made nest experiment was carried out by Sarus Nature society in the area to create ray of hope for nesting sites for this vulnerable species. We collected soil from the pond and built a ‘Timba’ before the breeding 
             seasons started and created five man made ‘Timbas’ in a farm pond located in Dadusar Village in 2009. We have observed that out of five ‘Timbas’ Sarus Crane nested and bred on one ‘Timba’ successfully with two chicks.  Thus our efforts give posstive results.
                           </p>
                            <p class="textIndent"> During the traditional Occasions like ‘RathYatra’ & ‘Vautha Fair’ in areas and other big gatherings also an information brochure specifically devloped for the purpose of creating mass awerness regarding sarus crane distributed  among people.
                            Motivated by these acivities of Sarus Nature Society renowned Scientists, Forest Officials and Wildlife 
             Conservationists also have paid visit to these nesting localities with a view to contributing to the sarus conservation 
             campaign.</p>
                            </dd>
             
                        </dl>

     
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>

</div>
