<div class="col-lg-12 col=-md-12 col-12" class="topheader">
</div>
<div class="mainHeader">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-10 ">
        <div class="logo">
          <img src="../../assets/logo.png" class="logoImg">
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-2 responsiveMenuIcon">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="col-lg-8 col-md-8 col-12  responsiveMenu removePadding">
        <ul class="menu">
          <li [routerLink]="['']">Home</li>
          <li class="seprator">|</li>
          <li>About US
            <ul class="submenu">
              <div class="upicon">
                <img src="../../assets/menuvector.png">
              </div>
              <li [routerLink]="['/profile']">Our Profile</li>
              <li [routerLink]="['/missionandvision']">Our Mission and Vision</li>
              <li [routerLink]="['/ourTeam']">Our Team</li>
              <li [routerLink]="['/aboutPagiBrothers']">Our Pagi Brother</li>
            </ul>
          </li>
          <li class="seprator">|</li>
          <li>About Sarus Crane
            <ul class="submenu">
              <div class="upicon">
                <img src="../../assets/menuvector.png">
              </div>
              <li>Glimps of Sarus Crane Life Cycle </li>
              <li [routerLink]="['/lifeCycle']">Life Cycle of Sarus Crane</li>
              <li [routerLink]="['/someFacts']"> Some About Sarus Crane</li>
            </ul>

          </li>
          <li class="seprator">|</li>
          <li>Our Activities
            <ul class="submenu">
              <div class="upicon">
                <img src="../../assets/menuvector.png">
              </div>
              <li [routerLink]="['/conservation']"> Sarsus Crane Conservation </li>
              <li [routerLink]="['/eductionAwerness']">Education and Awerness</li>
              <li [routerLink]="['/campaigns']">Bird Rescue Campaigns</li>
            </ul>

          </li>
          <li class="seprator">|</li>
          <li>Media
            <ul class="submenu">
              <div class="upicon">
                <img src="../../assets/menuvector.png">
              </div>
              <li>Gallery </li>
              <li>Press Coverage</li>
            </ul>
          </li>
          <li class="seprator">|</li>
          <li>Nature Shop</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col=-md-12 col-12" class="fotheader">
</div>
