
<div class="your-class">
  <div class="image-slide"
    style="background: url('../../assets/DSC_0542.JPG');background-size: cover;background-position: center;"> </div>
  <div class="image-slide"
    style="background: url('../../assets/DSC_0542.JPG');background-size: cover;background-position: center;"> </div>
  <div class="image-slide"
    style="background: url('../../assets/DSC_0542.JPG');background-size: cover;background-position: center;"> </div>
  <div class="image-slide"
    style="background: url('../../assets/DSC_0542.JPG');background-size: cover;background-position: center;"> </div>
</div>
<div class="fotheader"></div>

<div class="container" id="intro">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 introheader">
      <h2>Welcome to <br> Sarus Nature Society
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-0 ">
    </div>
    <div class="col-lg-8 col-md-8 col-12 introdesc">
      <p>Sarus Nature Society(SNS), founded in 1997, is a Wildlife & Nature Conservation NGO based in Dholka, Dist.
        Ahmedabad (Gujarat), India. Our focus is to conserve <br>Ecology &<br> Environment, Wildlife, Natural resources
        for an improved environment. Its efforts for undertaking Environment Education and Conservation Activities
        especially for
        Conservation of Sarus Crane which is an endangered species listed in
        Red Data list of IUCN, Vulnerable species and under the Schedual-IV of the Wildlif
        (Protection) Act 1972.
        <br><br>
        Conservation is a constant process which must adjust to Social, Economic,
        Environmental and Scientific advancements. We anticipate that without mandatory
        participation of human being no amount of effort can sustain any threatened
        Ecosystem, Natural resources and Biodiversity.
      </p>
    </div>
    <div class="col-lg-2 col-md-2 col-0 ">
    </div>
  </div>
</div>
<div class="boxsection">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 boxOuter ">
          <div class="box">
            <div class="boxicon">
              <img src="../../assets/Glimps of Sarus Crane.png" height="150">
            </div>
            <div class="boxHeader">
              <h2>Glimps of Sarus Crane</h2>
            </div>
            <div class="boxdesc">
              <p>The Indian Sarus Crane, The most
                abundant among the extant sub species of Sarus Crane in the world, is a large
                tallest and Flying bird of wetlands </p>
            </div>
            <div class="redmorebtn">
              <button>Read More</button>
            </div>


          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 boxOuter ">

          <div class="box">
            <div class="boxicon">
              <img src="../../assets/Sarus Crane Conservation.png" height="150">
            </div>
            <div class="boxHeader">
              <h2>Sarus Crane Conservation</h2>
            </div>
            <div class="boxdesc">
              <p>Sarus Nature Society‘s campaign for conserving the Sarus Crane, an endangered species, not only
                includes identifying the various threats to the bird but also treating the injurded birds </p>
            </div>
            <div class="redmorebtn">
              <button>Read More</button>
            </div>


          </div>



        </div>
        <div class="col-lg-4 col-md-4 col-12 boxOuter ">

          <div class="box">
            <div class="boxicon">
              <img src="../../assets/Education and Awarness.png" height="150">
            </div>
            <div class="boxHeader">
              <h2>Education & Awerness</h2>
            </div>
            <div class="boxdesc">
              <p>Sarus Nature Society organize various
                activities for Conservation of Environment and Wildlife ecosystem like Bird watching  programmes, Drawing compititions, Environment Quiz,  Bicycle Rally, Wildlife Photo Exhibitions, Wildlife Film Screening  and Shibirs. </p>
            </div>
            <div class="redmorebtn">
              <button>Read More</button>
            </div>


          </div>


        </div>
      </div>
    </div>
  </div>
</div>





<div class="appriciton">
 <div class="row">
  <div class="col-lg-7 col-md-7 col-0">
  </div>
  <div class="col-lg-3 col-md-3 col-12 appricitonDiv">
      <div class="appricitonInnerDiv">
        <div class="sliderTwo">
          <div class="slide">
              <div class="slideimg">
                <img src="../../assets/IMG_7331.JPG" class="slideImage" />
              </div>
              <div class="slideHeader">
                <span>Distributuion of Sarus Crane</span>
              </div>
              <div class="slideDesc">
                <span>Indian Sarus Crane mostly inhabits Northern parts of India. Large numbers of sarus crane found in the states of UttarPradesh, Gujarat and Rajasthan.</span>
              </div>
              <div class="slideRedeMoreBtn">
                  <button>Read More</button>
              </div>
          </div>
          <div class="slide">
            <div class="slideimg">
              <img src="../../assets/IMG_7331.JPG" class="slideImage" />
            </div>
            <div class="slideHeader">
              <span>Distributuion of Sarus Crane</span>
            </div>
            <div class="slideDesc">
              <span>Indian Sarus Crane mostly inhabits Northern parts of India. Large numbers of sarus crane found in the states of UttarPradesh, Gujarat and Rajasthan.</span>
            </div>
            <div class="slideRedeMoreBtn">
                <button>Read More</button>
            </div>
        </div>
        <div class="slide">
          <div class="slideimg">
            <img src="../../assets/IMG_7331.JPG" class="slideImage" />
          </div>
          <div class="slideHeader">
            <span>Distributuion of Sarus Crane</span>
          </div>
          <div class="slideDesc">
            <span>Indian Sarus Crane mostly inhabits Northern parts of India. Large numbers of sarus crane found in the states of UttarPradesh, Gujarat and Rajasthan.</span>
          </div>
          <div class="slideRedeMoreBtn">
              <button>Read More</button>
          </div>
      </div>
        </div>
       </div>
  </div>
  <div class="col-lg-2 col-md-2 col-0">
  </div>
</div>

</div>





<div class="gallary">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 introheader">
      <h2>Our Gallery</h2>
    </div>
   </div>
   <div class="gallerySlider">
     <div class="gallerySlide"> <img src="../../assets/DSC_0542.JPG"></div>
     <div class="gallerySlide"> <img src="../../assets/DSC_0542.JPG"></div>
     <div class="gallerySlide"> <img src="../../assets/DSC_0542.JPG"></div>
     <div class="gallerySlide"> <img src="../../assets/DSC_0542.JPG"></div>
     <div class="gallerySlide"> <img src="../../assets/DSC_0542.JPG"></div>
     <div class="gallerySlide"> <img src="../../assets/DSC_0542.JPG"></div>

  </div>
</div>




<app-footer></app-footer>
