
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
        <dl>
            <dt>   Q. Where are Sarus Crane Found ?</dt>
            <dd>  In the countries India, Nepal, Bhutan, Bangladesh, Combodia, Laos, Vietnam, Australia and Pakistan. In India they are           
                  found spread from Jammu & Kashmir to Madhyapradesh, Gujarat to Assam with major populations in Uttarpradesh, 
                  Gujarat and Rajasthan.</dd>
        
                  <dt>    Q. What habitat do they prefer ?</dt>
                <dd> Sarus Cranes mostly use shallow marshlands with little vegetation for nesting and agricultural fields and other 
                 wetlands such as ponds, lakes for feeding and roosting.</dd>
        
                 <dt> Q. Are they found near habitation ?</dt>
                <dd> Yes! Sarus Cranes have leant to live in association with humans in several rural localities.They are often found 
                 feeding a wetland where cattle and pigs are wallowing as well.</dd>
        
                 <dt>  Q. How many eggs do they lay ?</dt>
                    <dd>Most of the time. Two eggs are laid and few cranes lay one or three eggs.
                 (SNS Observation : We have recorded 3 eggs of sarus at a time in year 2000,2003 and 2016 in Ahmdabad district.)</dd>
        
                 <dt>Q. How are juveniles/ subadults different from adults ?</dt>
        <dd> The adults have a bright red skin patch on the head and upper neck, except for a grey patch on top of the head. 
                  In the subadults the red colour is not well developed and ranges from buff to light red in colour.</dd>
        
                  <dt>  Q. What do the birds eat ?</dt>
            <dd> Sarus Cranes are omnivorous and their diet includes grain of several kinds, shoots of plants, bulbs of aquatic plants,
                 frogs, lizards and other reptiles, grasshoppers and other insects, fish, vegetable matter, fruits, aquatic and terrestrial
                molluscs and eggs of other waterfowl.</dd>
        
                <dt>   Q. Do the cranes pair for life ?</dt>
                <dd> Yes,they do! It has been seen that when one of the pair dies by accident the other stays by thebody and even
                 sometimes dies in apparent grief.</dd>
        
                 <dt>  Q. When is the best time to see the birds ?</dt>
                    <dd>The birds congregate in select wetlands to roost for the night sometimes numbering upto 200. In these 
                 wetlands, early mornings and late evenings are usually the best time to see them. During this time they can be seen 
                 dancing, duetting and courting.</dd>
        
                 <dt>Q. Do the Sarus Cranes migrate ?</dt>
                    <dd> Sarus Cranes are resident birds of India. However, they have been seen to migrate locally looking for sites to feed on               
                 during the harvest season and wetlands to roost in durnig the dry season when few wetlands remain.</dd>
        
         
        </dl>
        
    
    </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>

</div>
