
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 headerPara">
          <p>Wide experience and efforts of Sarus Crane Conservation in Gujarat, both the brothers
            Mr. Deshal Pagi & Mr. Vikram Pagi known as “Sarus Bandhu” and also known as “Pagi Brothers”.</p>
        </div>
        <div class="col-lg-12 col-md-12 col-12 headerTitle">
          <h1>Photos</h1>
        </div>

        <div class="col-lg-4 col-md-4 col-12  textCenter">
          <img src="../../assets/akshay.jpg" height="200">
        </div>
        <div class="col-lg-8 col-md-8 col-12  profiledesc">

          <span class="textBold">Mr. Deshal B. Pagi</span><br>
          <span>Wildlife Filmmaker & Photographer | Conservator | Ornithologist
            Ex. Member State Wildlife Advisory Board, Gujarat
            Rtd. Lecturer G.D.A. (Painting), Smt. R.V. Shah College of Fine Arts, Dholka</span><br>
          <span><span class="textBold">Date of Birth</span> : 01-06-1956</span><br>
          <span><span class="textBold">Place of Birth : </span>Transad, Sheth Shri Damodardas Shah's Farm,
            Ta. Dholka, Dist. Ahmedabad.</span>


        </div>


        <div class="col-lg-12 col-md-12 col-12 profileDesc">
          <p> Born and reared up in the lap of mother nature Deshal Pagi, an accredited versatile wildlife photographer
            inherited from parents the ardent love and insatiable affinity towards the winged and quadruped creatures
            and could
            ply into their dominion through the miraculous magic third eye of the camera. Indeed he has enriched his
            personality
            by accumulating detailed information about the free wildlife of birds and animals. His vision of camera
            transcends
            the commonplace observation and revives the images on paper for years and ages to come......
          </p>
          <p>

            He commenced a career of clicking the camera in 1971 and since then Shri Shambhubhai Patel, a beloved
            teacher
            has opened up the golden gates of his imagination by unceasingly inspiring him on every step. Shri Hiralal
            Balva's
            affectionate friendship and soothing co-operation have been his constant companions in paving a way to
            success,
            yet he solely depends upon his diligent self-reliance. Then he got addicted to frequent visits to wildlife
            and every
            stumbling step now blossoms into a vivid life- like throbbing combination of light and shade in all the
            Vibgyor's.
          </p>
          <p>

            He commenced a career of clicking the camera in 1971 and since then Shri Shambhubhai Patel, a beloved
            teacher
            has opened up the golden gates of his imagination by unceasingly inspiring him on every step. Shri Hiralal
            Balva's
            affectionate friendship and soothing co-operation have been his constant companions in paving a way to
            success,
            yet he solely depends upon his diligent self-reliance. Then he got addicted to frequent visits to wildlife
            and every
            stumbling step now blossoms into a vivid life- like throbbing combination of light and shade in all the
            Vibgyor's

          </p>

          <p>


            Deshal B. Pagi’s campaign for conserving the Sarus Crane, an endangered species, not only includes
            identifying the various threats to the bird but also treating the injurded birds at times, revamping drying
            wetlands by pouring water through water tanks to save the Sarus’s nest. Has won several prestigious awards
            in photography and been Member of State

          </p>
          <p>
            WildLife Advisory Board - Gujarat, Forest and Environment Department.

          </p>
          <b>Achievements</b>
          <p>

            1986 : Second prize for the photography awarded by State Lalitkala Academy<br>
            1987 : Second prize for the photography awarded by Municipal Corporation for Ahmedabad<br>
            1992 : Second Prize awarded by Focus Camera Club – Ahmedabad<br>
            1993 : Merit Certificate, Camera Club of Karnavati, Almedabad<br>
            1993 : First Prize awarded by Kala Gurjari – Mumbai<br>
            1994 : Appointed as Honorary Wildlife Warden, Ahmedabad District by Forests and Environment Depratment
            Gujarat<br>
            1995 : Honoured by Darshan Trust, Ahmedabad<br>
            2000 : Workshop Co-ordinator, ECO Club Teachers Training Programme, Kalikund Derasar, Dholka<br>
            2002 : Appointed as a Member of State Wildlife Advisory Board (2002 - 2019)<br>
            Forests and Environment Depratment Gujarat<br>
            2006 : Honored by Bharat Vikas Parishad-Gujarat for serving as Member of State Wildlife Advisory Board -
            Gujarat<br>
            2006 : Called by Forest Department as Bird Expert for VIP & VVIP in Rann Mahotsav, Bajana WildAss
            Sanctuary<br>
            2008 : Jury Member, Wildlife Drawing Competition, Vanchetna Kendra – Forest Department, Ahmdedabad<br>
            2017 : Green Commando, Green Global Brigade, Ahmedabad<br>

          </p>
          <b>Participated</b>
          <p>

            1988 : Environment and Nature Conservation Education Camp, Sasan Gir<br>
            1998 : Nature Education Camp, Hingolgadh<br>
            2000 : Bird Population Estimation, Nalsarovar-Thol, Forest Department Gujarat<br>
            2000 : Peacock census, Ahmedabad City<br>
            2001 : Bird Population Estimation, Khijadiya Bird Sanctuary, Jamnagar<br>
            2004 : Sarus Crane Population Estimation, Forest Department, Gujarat<br>
            2005 : National Festival of Performing Arts - Vividhotsavam<br>
            2005 : Workshop on Nature Activities Camp on Cnservation of Bioresources and Biodiversity
            Science City, Ahmedabad<br>
            2006 : Advance Level Workshop on Nature Camp Activities on Conservation of Bioresources Biodiversity,
            Science City Ahmedabad<br>
            2007 : International Symposium on “Emarging Conservation Strategies for Endangered Species”,
            Karnavati Club, Ahmedabad<br>
            2007 : Sarus Crane Population Estimation, Forest Department, Gujarat<br>
            2007 : Statewide Survey of Gyps Vulture Nesting and Population, GEER Foundation<br>
            2007 : Forest and Wildlife Conservation Programme, Forest Department, Gandhinagar<br>
            2008 : Bird Population Estimation, Nalsarovar-Thol, Forest Department Gujarat<br>
            2008 : Prakruti ane Swasthya : Bal Samvad, GEER Foundation, Gandhinagar<br>
            2008 : ECO Club Master Trainers Programme, National Green Corps<br>
            2008 : 16th All India Forest Sports Meet, Gandhinagar<br>
            2009 : 5th CMS Vatavaran Environment and Wildlife Film Festival, New Delhi<br>
            2009 : Vulture Population Recovery and Conservation Action Plan for Gujarat State<br>
            2010 : Sarus Crane Population Estimation, Forest Department, Gujarat<br>
            2010 : International Conference – 10th Earth Charter, Ethical Framework for Sustainable work, CEE,
            Ahmedabad<br>
            2010 : Blackbuck Census, Velavadar National Park<br>
            2011 : Leopard and Sloth Bear Census, Chhota Udaipur, Vadodara<br>
            2011 : Wildlife Week Celebration, GEER Foundation, Gandhinagar<br>
            2013 : World Wetland Day Celebration, Ramsar Site, Nalsarovar Bird Sanctuary<br>
            2014 : Wild Ass Population Estimation, Little Rann of Kutch<br>
            2015 : National Celebration of World Wetland Day, Nalsarovar Bird Sanctuary<br>
            2020 : Bird Population Estimation, Nalsarovar-Thol, Forest Department Gujarat<br>
            2020 : COP-13 | Convention on the Conservation of Migratory Species of Wild Animals, Mahatma Mandir,
            Gandhinagar<br>
            2020 : Wild Ass Population Estimation, Little Rann of <br>


          </p>


        </div>


      </div>




      <div class="row">
        <div class="col-lg-4 col-md-4 col-12  textCenter">
          <img src="../../assets/akshay.jpg" height="200">
        </div>
        <div class="col-lg-8 col-md-8 col-12  profiledesc">

          <span class="textBold">
            Mr. Vikram B. Pag</span><br>
          <span>Wildlife Filmmaker & Photographer | Conservator | Ornithologist
            Ex. Wildlife Warden, Ahmedabad District
            Rtd. Language Teacher, Sheth C.N. Vidyalaya, Ambawadi, Ahmedabad
            </span><br>
          <span><span class="textBold">Date of Birth:</span>  18-09-1960</span><br>
          <span><span class="textBold">Place of Birth : </span>Transad, Sheth Shri Damodardas Shah's Farm House.
          Ta. Dholka, Dist. Ahmedabad.</span>


        </div>


        <div class="col-lg-12 col-md-12 col-12 profileDesc">
          <p>
            Born in a cultured family afflux with free-lance breezes of naturality, Vikram Pagi a prolific wildlife photographer
            inhaled and imbibed the true love towards nature right from his boyhood. He cultivated the pursuit of photography
            under the cooling and encouraging fraternal care and caress of the elder brother Shri Deshal Pagi. He has boundless
            affinity to wildlife and has earnestly and incessantly endeavored to encage into the photographs and bring to limelight some of the rare movements and moving moments of wildlife. His photographs are verily vibrant with the musing and amusing musical notes of wildlife, mollifying us within and without with the rare rhetoric rhyme and rich reveling rhythm pervading the profound regime of wildlife. His each photograph is his rendezvous with the wildlife, his personal treasure of lingering fragrant memories unfolding its thousands of petals of oceanic depth and firmamental circumference of human experiences transcending all the earthly bondages and dragging our benumbed minds into the reveries of
            sanctuary requiem.
          </p>
          <p>

            The absence of inconspicuous sibling rivalry comprising the exploration of wildlife has set his heart to fire inasmuch as that he has hitched his wagon to sky for the sole delectation of the elder brother, resulting into the apparent
            consequences of his visitation to wildlife that ultimately emerges into the hissing or squeaking or grunting idol images, the sizzling lullabies rocking the cradle of heart!

          </p>
          <p>

            On the path of elder brother Deshal B. Pagi’s campaign for conserving the Sarus Crane, Vikram B. Pagi has also done
            tremendous work for Sarus Crane Conservation. Has won several prestigious awards in photography and been Wildlife Warden of Ahmedabad District,  Forest and Environment Department.

          </p>

          <b>Achievements</b>
          <p>


1989 : Second Prize, Rashtriya Van Mahotsav, Govt. of India<br>
1991 : Second Prize, Gujarat State Photography Contest  Camera Club of Karnavatl and Dr. Vikram Sarabhal Community
            Science Centre, Ahmedabad<br>
1993 : Merit Certificate, Camera Club of Karnavati, Almedabad<br>
1994 : Honoured by Sheth C. N. Vidyavihar Tonchere Sangh, Ahmadnbad<br>
1994 : Honoured by Sheth C. N. Vidyavihar for Smt, 'Manakba Prize Winners' conterence for Arts<br>
1995 : Honoured by Darshan Trust, Ahmedabad<br>
1995 : Prize Winner In 'Man and Animal' photo competition by Hari Charitable Trust<br>
1996 : Third Prize Winner, State Level Photography Competition<br>
2000 : Workshop Co-ordinator, ECO Club Teachers Training Programme, Kalikund Derasar, Dholka<br>
2005 : Appointed as Honorary Wildlife Warden, Ahmedabad District by Forests and Environment Depratment Gujarat<br>
2006 : Honored by Bharat Vikas Parishad-Gujarat for serving as Honorary Wildlife Warden - Ahmedabad District<br>
2006 : Called by Forest Department as Bird Expert for VIP & VVIP in Rann Mahotsav,  Bajana WildAss Sanctuary<br>
2008 : Jury Member, Wildlife Drawing Competition, Vanchetna  Kendra – Forest Department, Ahmdedabad<br>
2017 : Green Commando, Green Global Brigade, Ahmedabad<br>


          </p>
          <b>Participated</b>
          <p>

            1988 : Environment and Nature Conservation Education Camp, Sasan Gir<br>
            1998 : Nature Education Tour of Sanctuaries and National Parks of the State, organisad by GEER Foundation<br>
            1998 : Nature Education Camp, Hingolgadh<br>
            2000 : Bird Population Estimation, Nalsarovar-Thol, Forest Department Gujarat<br>
            2000 : Peacock census, Ahmedabad City<br>
            2001 : Bird Population Estimation, Khijadiya Bird Sanctuary, Jamnagar<br>
            2004 : Sarus Crane Population Estimation, Forest Department, Gujarat<br>
            2005 : National Festival of Performing Arts - Vividhotsavam<br>
            2005 : Workshop on Nature Activities Camp on Cnservation of Bioresources and Biodiversity
                        Science City, Ahmedabad<br>
            2006 : Advance Level Workshop on Nature Camp Activities on Conservation of Bioresources & Biodiversity,
                        Science City, Ahmedabad<br>
            2007 : Sarus Crane Population Estimation, Forest Department, Gujarat<br>
            2007 : Statewide Survey of Gyps Vulture Nesting and Population, GEER Foundation<br>
            2007 : Forest and Wildlife Conservation Programme, Forest Department, Gandhinagar<br>
            2008 : Bird Population Estimation, Nalsarovar-Thol, Forest Department Gujarat<br>
            2008 : Prakruti ane Swasthya : Bal Samvad, GEER Foundation, Gandhinagar<br>
            2008 : ECO Club Master Trainers Programme, National Green Corps<br>
            2008 : 16th All India Forest Sports Meet, Gandhinagar<br>
            2009 : 5th CMS Vatavaran Environment and Wildlife Film Festival, New Delhi<br>
            2009 : Vulture Population Recovery and Conservation Action Plan for Gujarat State<br>
            2010 : Sarus Crane Population Estimation, Forest Department, Gujarat<br>
            2010 : International Conference – 10th Earth Charter, Ethical Framework for Sustainable work, CEE, Ahmedabad<br>
            2010 : Blackbuck Census, Velavadar National Park<br>
            2011 : Leopard and Sloth Bear Census, Chhota Udaipur, Vadodara<br>
            2011 : Wildlife Week Celebration, GEER Foundation, Gandhinagar<br>
            2013 : World Wetland Day Celebration, Ramsar Site, Nalsarovar Bird Sanctuary<br>
            2014 : Wild Ass Population Estimation, Little Rann of Kutch<br>
            2015 : National Celebration of World Wetland Day, Nalsarovar Bird Sanctuary<br>
            2020 : Bird Population Estimation, Nalsarovar-Thol, Forest Department Gujarat<br>
            2020 : COP-13 | Convention on the Conservation of Migratory Species of Wild Animals, Mahatma Mandir, Gandhinagar<br>
            2020 : Wild Ass Population Estimation, Little Rann of Kutch<br>

          </p>


        </div>


      </div>



    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>
  </div>
</div>
