
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 section">
            <h4> Education & Awarness</h4>
            <p>
                Sarus Nature Society organize various activities for Conservation of Environment and Wildlife ecosystem like 
Bird watching  programmes, Drawing compititions, Elocution competition, Environment Quiz,  Bicycle Rally, Wildlife Photo Exhibitions, Wildlife Film Screening  and Shibirs.  Awarness campaigns is also conducted  in various villages to sensitize rural people about cultural, ecological and environmental significance.

            </p>
        </div>
        
        <div class="col-lg-12 col-md-12 col-12 section">
            <h4> 
                Awareness Campaigns</h4>
           
        </div>
        <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
                <p>
                    
2003 : “Save Sarus, Save Nature”, Student Rally, Dadusar, Dholka<br><br>
2005 : Wildlife Drawing Competition, Sheth C.N.Vidhyalaya Ahmedabad<br><br>
2007 : Sarus Nature Society organized Bicycle Rally accosiated with Rotaract Club of Ahmedabad Zankar for scout guide 
            students from Ahmedabad to Thol Bird Sanctuary for Wildlife Conservation and Awareness in students.<br><br>
2008 : Sarus Nature Society organized Bike Rally under programm  “Rotaract Rodies - Nalsarovar Bird Sanctuary” 
            accosiated with Rotaract Club of Ahmedabad Zankar<br><br>
2010 : Drawing Competition, Smt. R.V. Shah College of Fine Arts, Dholka<br><br>
2011 : Sarus Conservation Tablo in RathYatra Rally, Dholka<br><br>
2012 : Elocution Competition organized for Primary school students, Gozaria, Mehsana<br><br>
2013 : Sarus Conservation awarness stall at Vautha Fair, Dholka<br><br>
2016 : Essay Writing Competition, Prathmik Shala, Transad<br><br>
2017 : 180 ft. Horizontal Canvas Painting of Sarus Crane and 51 ft. Rangoli of Sarus Pair at  Vautha Fair, Dholka Taluka.
             for awareness of Sarus Crane inaugrated by Shri Devusinh Chauhan, MP, Kheda Loksabha and
             Shri Bhupendrasinh Chudasama, MLA, Dholka Vidhansabha<br><br>
2018 : “Khedut Shibir”   about conservation of Sarus Crane conducted at GEER Foundation, Gandhinagar<br><br>
2019 :  Nature Education Camp at Nalsarovar Bird Sanctuary for Saraswati School Students<br><br>
2019 : ‘Swatchhta Abhiyan’- Plastic collection at Nalsarovar Bird Sanctuary by school students<br><br>



                </p>



        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
            <h4> 
                Awareness Campaigns</h4>
           
        </div>
        <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
                <p>
                    

                    1986 : Lalit kala Academy, Ahmedabad<br><br>
                    1989 : Rastriya Van Mahotsava Govt. of India<br><br>
                    1991 : Rajya Lalit Kala Academy, Ahmedabad<br><br>
                    1991 : Ahmedabad Municipal Corporation, Ahmedabad<br><br>
                    1991 : Art Gallery, Gandhinagar<br><br>
                    1992 : Gujarat Vidyapith, Ahmedabad<br><br>
                    1992 : Gujarat State Forest Department and WWF, Baroda<br><br>
                    1992 : Sardar Smruti, Bhavnagar<br><br>
                    1992 : R.V.Shah College of Fine Arts, Dholka, Ahmedabad<br><br>
                    1993 : Visatpura, Ta. Kadl, Dist. Mehsana<br><br>
                    1993 : M. S. University, Baroda<br><br>
                    1993 : Ahmedabad Pratibha Junior Chamber, Ahmedabad<br><br>
                    1993 : Kala Gurjari, Bombay<br><br>
                    1994 : Focus Camera Club and Vishala, Ahmedabad<br><br>
                    1994 : Sheth C. N. Vidyalaya, Ahmedabad<br><br>
                    1995 : Darshan Trust, Ahmedabad<br><br>
                    1995 : Hari Charitable Trust, Ahmedabad<br><br>
                    1995 : Navsari, Dist Bharuch<br><br>
                    1995 : Sactuary Magazine, Bombay<br><br>
                    1996 : Wildlife Week Celebration, Nalsarovar  <br><br>        
                    1997 : Wildlife Exhibition, Ahmedabad Municipal Corporation, Ahmedabad<br><br>
                    1997 : Environment Conservation & Education – Photo Exhibition, Sheth Hasan Ali High School, Dholka<br><br>
                    1998 : Wildlife Photo Exhibition, Mohmadi High School, Dholka<br><br>
                    1999 : World Environment Day Celebration and Exhibition, Indroda Park, Gandhinagar<br><br>
                    1999 : Wildlife Week Celebration in Presence of Forest Minister Shri Kanjibhai Patel, Ravisankar Raval Art Gallery,
                                 Ahmedabad<br><br>
                    1999 : Vanchetna Kendra Inauguration in Presence of Forest Minister Shri Kanjibhai Patel & Shri Prabhatsinh Chauhan, 
                                Vastrapur, Ahmedabad <br><br>
                    2001 : Inauguration of Dinosaur Park in Presence of Chief Minister Shri Narendrabhai Modi, Indroda Park, Gandhinagar<br><br>
                    2001 : Inauguration of Lok Malo in Presence of Chief Minister Shri Narendrabhai Modi, Nadiad<br><br>
                    2002 : Wildlife Week Celebration, Karnavati Art Gallery, Ahmedabad<br><br>
                    2003 : Region  Workshop on Wetlands, Western Region, GEER Foundation, Gandhinagar<br><br>
                    2003 : “National Workshop on Wildlife & Community“ in Presence of Chief Minister Shri Narendrabhai Modi, NID Paldi,
                                  Ahmedabad<br><br>
                    2003 : Wildlife Week Celebration in Presence of Forest Minister Shri Mangubhai Patel, Dharoi Dam Site<br><br>
                    2004 : Wildlife Photo Exhibition & Screening of Sarus Crane Documentary,  National Green Corps,
                                J.M.Desai High school Thasra <br><br>
                    2004 : Wildlife Week Celebration, Dadusar Village, Dholka<br><br>
                    2005 : Environment & Wildlife Exhibition and Trachers Training Programme of NGC, Kathlal, Kheda<br><br>
                    2006 : Wildlife Photo Exhibition, Science Day, Science City Ahmedabad<br><br>
                    2007 : Wildlife Photo Exhibition, Science Day, Science City Ahmedabad<br><br>
                    2008 : 16th All India Forest Sports Meet, Gandhinagar<br><br>
                    2008 : Vanchetna Kendra,  Ahmedabad<br><br>
                    2009 : World Environment Day Celebration in Presence of Chief Minister Shri Narendrabhai Modi,Tagor Hall, Ahmedabad<br><br>
                    2010 : Wildlife Photo Exhibition, Vanchetna Kendra, Vastrapur, Ahmedabad<br><br>
                    2011 : Wildlife Week, Photo Exibition, Vanchetna Kendra, Ahmedabad<br><br>
                    2011 : Science Uttsav, Science City, Ahmedabad<br><br>
                    2020 : COP-13 | Convention on the Conservation of Migratory Species of Wild Animals, Mahatma Mandir, Gandhinagar
                    
                    
                    Interviews 
                    <br><br>
                    2009 : Interview on Life Cycle Sarus Crane, Doordarshan Kendra, Ahmedabad<br><br>
                    2009 : Radio Talk on “Sarus and Nature Conservation - URJA”, All India Radio, Ahmedabad<br><br>
                    2013 : Interview on Sarus Crane in Programe “Sarus Beldi ane Pagi Bandhu”, Doordarshan Kendra,  Ahnedabad<br><br>
                    
                    

                </p>



        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>

</div>
