
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 sectionTitle">
          <h4>Our Profile</h4>
        </div>
        <div class="col-lg-12 col-md-12 col-12 sectionDesc">
          <p>
            Sarus Nature Society(SNS), founded in 1997, is a Wildlife & Nature Conservation NGO based in Dholka, Dist.
            Ahmedabad (Gujarat), India. Our focus is to conserve Ecology & Environment, Wildlife, Natural resources for
            an improved environment. Its efforts for undertaking Environment Education and Conservation Activities
            especially for Conservation of Sarus Crane which is an endangered species listed in Red Data list of IUCN,
            Vulnerable species and under the Schedual-IV of the
            Wildlife (Protection) Act 1972.</p>
          <p>

            Conservation is a constant process which must adjust to Social, Economic, Environmental and Scientific
            advancements. We anticipate that without mandatory participation of human being no amount of effort can
            sustain any threatened
            Ecosystem, Natural resources and Biodiversity.
          </p>
          <p>
            Contribution of Sarus Nature Society (SNS) towards the conservation of states’s endangered flora & fauna is
            unique.
            Campaign for Conserving Sarus Crane is our primary mission. Recognizing the fact that this species found
            mainly in
            paddy fields and wetlands. We took the people of respective villages into confidence and convinced them
            about the
            need of conservation of the species. Not only that but we motivated them to the extent that now this
            villagers are
            protecting the species at their own and are also providing vital information about the life cycle of Sarus
            Crane.

          </p>
          <p>


            We also identified various threats faced by this endangered species and contacted various authorities
            personally to
            overcome these problem and reducing the threats. Sarus Nature Society (SNS) also took various steps for
            rescue and
            treatment of the injured birds, Education and Awarness and Conservation programmes.

          </p>
          <p>
            Sarus Nature Society (SNS) is registered under Office of Charity Commissioner, Ahmedabad (Mumbai Public
            Trust,1950) with Registration No. : F/6278/Ahmedabad on 23/12/1997.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>
  </div>
</div>
