
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 section">
            <h4>Sarus Crane Habitats</h4>
            <p>Sarus crane is a primarily a wetland species. The Marshy wetlands and paddy fields are most favoured natural habitats of the Sarus Crane. Sarus pairs use agricultural, semi-wet and dry areas but sarus families use wet areas more than dry and
              semi-wet areas.</p>
        </div>
        <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>Food Habits:</h4>
          <p>Sarus Cranes are Omnivorous. They consume a wide variety of foods such as small fish, frogs, small water snakes, paddy crops, wheat and groundnut seeds. In addition, Sarus Crane can also feed on seeds of ripe cucumber and maize. Sarus can also consume tubers of cyperaceae plants. Usually, Sarus Crane starts foraging between 5:00  am and 6:00 am and the
            foraging continues till 12:30 pm. After that the Sarus reaches a watery or shady area and takes rest for 2-3 hours. For
            resting, Sarus Crane uses an islet like place in a wetland so that it can get protection against fox,dogs, humans, snakes etc. choose.
          </p>
         </div>
         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>Congregation of Sarus Crane</h4>
          <p>
            Though the Indian Sarus Crane is believed to live in pair, It is often observed in small or large groups especially in
            summer and winter. This type of behaviour is commonly observed in summer season at water bodies having good amount of water. In the summer-end, that is, around the end of June, adult Sarus Cranes assemble with their respective one-year-old progenies in water-rich regions. Here, new Sarus pairs of young males and females are formed. There is a record of congregation of 180 Sarus Cranes.
          </p>
         </div>
         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>Courtship Dance - “Marriage Ceremony”</h4>
          <p>
            During such “Marriage Fair”, several males and females are seen jumping and dancing with a varied posture. Again and again, they are seen flying with the outstretched wings. Male-females are also seen jumping with interlocked beaks. Now and then, individuals are also seen tossing a pebble of a piece of vegetation in mid-air using the beak. Dancing is found by breaking body parts over a long period of time. The period of June-July is a period of courtship display and mating. Once it starts raining, Sarus pairs move towards their old nesting sites and start making nests. Nests are constructed by the end of July and August.

          </p>
         </div>
         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>Nesting & Parenting</h4>
          <p>
            The Sarus pairs construct their nests in wetland areas such as river banks, marshes and ponds like “ Sim Talavdi”. In a nest , a female lays two eggs of slightly white colour. A pair constructs its nest by collecting and dumping grasses, herbs or paddy plants at the sites where old nests may still exists. When  a Sarus pair opts to construct the nest in an inundated paddy field, some farmers prevent the pair from building its nest. Some farmers damage the constructed nests or some others lift up he constructed nests and displace them outside their paddy fields. They do such activities to prevent damage of their paddy crop by a nesting Sarus pair.
            Male and Female Sarus Cranes incubate eggs by constantly remaining present at the nest.<br> Male and Female partner sits on the nest in turn for incubating the eggs. They keep changing the position of the eggs in the nest by rotating the eggs with the beaks at regular intervals. Egg incubation takes place for about 30 to 32 days, after which the eggs are hatched. The newly born chicks are beautiful plumage. The chicks begin to walk shortly after birth. Parent birds feed them by
            fetching insects or small animals and putting them in front of the beaks of the chicks. They do not feed the chicks by
            directly putting the food in chicks’ beaks. Within a few weeks of its development, the chicks begin to look for food by themselves. Even then, parent birds keep feeding their young ones for several months and the young ones moving with the parent birds can reach the height of 2 to 2.5 feet. Their heads look dark brown in the colour instead of red in parents.



          </p>
         </div>
         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
        <div class="col-lg-12 col-md-12 col-12 section">
          <h4>
            Co-existance with Farmers
            </h4>
          <p>
            Sarus crane accurrence in rural and suburban landscapes of the state and its adaptability to live in the vicinity of farmers,
shapherds, farm-labourers and other rural folks using man made wetlands or agricutural land for daily living. Indian
sarus crane depends on man made ecosystems like village ponds (Sim Talavdi), irrigation reservoirs, rice fields etc.
existing in rural areas. Thus, sarus crane has been struggling to co-exist especially with rural people of gujarat.



          </p>
         </div>

         <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>

</div>
