
<app-sectiontitle [title]="title"></app-sectiontitle>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-12">
    </div>
    <div class="col-lg-8 col-md-8 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12 section">
            <h4>Bird Rescue Campaigns</h4>

            <p>Sarus Nature Society is working for sarus conservation and rescue oprations throughout the year but SNS also determined to save the lives of birds who might sustain injuries during the ‘Uttrayan’ (Kite) festival to be celebrated all over the state every year. SNS is taking every possible measure to protect lives and injuries being caused during the Kite Festival under “Karuna Abhiyan” organized by Forest Depatment, Government of Gujarat.</p>
            
        </div>
        <div class="col-lg-12 col-md12 col-12 imgsection">
          <img src="../../assets/DSC_0542.JPG" class="img-fluid"/>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
    </div>

</div>
